{
    globals: {
        '$': true                     // zepto
    },
    "env": {
        "browser":                    true,
        "node":                       true
    },
    "rules": {
    }
}
