.catalog-box {
    padding: 1rem;
}

.category-section-title {
    font-size: 1.1rem;
}

.category-section {
    margin: .5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
}

.category-link {
    position: relative;
    line-height: 0px;
}

.category-section img {
    width: 100%;
    border-radius: 0.3rem;
}

.category-link .name {
    position: absolute;
    bottom: 0.4rem;
    width: 100%;
    line-height: 1.2rem;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
}
