.fashion-food-box {
    padding: 0 2rem;
}

.fashion-food {
    position: relative;
}

.fashion-food-img {
    width: 100%;
}

.descrption {
    margin-top: 1rem;
}

.descrption .title {
    font-size: 1.5rem;
}

.evaluate {
    padding: .5rem 0;
    color: #585858;
    font-weight: lighter;
}

.author-info {
    position: absolute;
    right: 0;
    bottom: .5rem;
    text-align: center;
}

.author-picture {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
}

.auto-name {
    color: #706e6e;
    font-size: .6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 5rem;
}
